* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
:root {
  /* primary color */
  --orange: #ff7d1a;
  --pale-orange: #ffede0;

  /* neutral color */
  --very-dark-blue: #1d2025;
  --dark-grayish-blue: #68707d;
  --grayish-blue: #b6bcc8;
  --light-grayish-blue: #f7f8fd;
  --white: #ffffff;
  --black-opacity: rgba(0, 0, 0, 0.75);
}
body {
  width: 100%;
  min-height: 100vh;
}

.links {
  width: 40%;
}
