* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

:root {
  /* primary color */
  --orange: #ff7d1a;
  --pale-orange: #ffede0;

  /* neutral color */
  --very-dark-blue: #1d2025;
  --dark-grayish-blue: #68707d;
  --grayish-blue: #b6bcc8;
  --light-grayish-blue: #f7f8fd;
  --white: #ffffff;
  --black-opacity: rgba(0, 0, 0, 0.75);
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--light-grayish-blue);
}

/* navbar */

.navbar {
  border-bottom: 1px solid var(--grayish-blue);
  padding-right: 1em;
}

.close-btn {
  display: none;
}

/* button */

.orange-btn {
  width: 60%;
  max-width: 620px;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.7em 0;
}

/* product page */

img {
  border-radius: 10px;
}

.product-page {
  margin-top: 4em;
}

.product-images-column {
  padding: 2em;
  margin-right: 1.5em;
}

.product-details-column {
  padding-top: 5em;
}

/* product images */

.product-img,
.thumbnails {
  width: 90%;
}

.thumbnails {
  margin-top: 2.5em;
  margin-bottom: 3em;
}

.thumbnail {
  width: 20%;
}

.arrow {
  width: 15px;
  height: 15px;
  position: relative;
  top: -7px;
}

.prev-arrow {
  right: 3px;
}

.btn-left-arrow,
.btn-right-arrow {
  width: 3em;
  height: 3em;
  background-color: var(--white);
  padding: 1.1em;
  border: none;
  border-radius: 50%;
  position: absolute;
}

.btn-left-arrow {
  left: 1.5em;
}

.btn-right-arrow {
  right: 1.5em;
}

/* product details */

.product-details {
  padding-top: 0;
  margin-left: 1.5em;
}

.bold {
  font-weight: 700;
}

.company-name,
.item-discount {
  color: var(--orange);
}

.company-name {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1.5em;
}

.item-collection {
  color: var(--very-dark-blue);
  font-size: 3rem;
  margin-bottom: 1em;
}

.item-description {
  font-size: 18px;
  line-height: 1.5em;
}

.item-description,
.item-price {
  color: var(--dark-grayish-blue);
}

.item-description {
  margin-bottom: 1.5em;
}

.item-price {
  margin-bottom: 3em;
}

.applied-discount {
  font-size: 1.5rem;
}

.item-discount {
  background-color: var(--pale-orange);
  margin-left: 1em;
  padding: 0.5em;
  border-radius: 10px;
}

.item-price {
  text-decoration: line-through;
}

/*popover*/

.cart-popover {
  width: 350px;
  min-height: 200px;
  position: absolute;
  top: 100px;
  right: 30px;
}

.popover-image {
  width: 50px;
  height: 50px;
}

.popover-image img {
  max-width: 100%;
  object-fit: contain;
}

.trash-icon {
  border: none;
  background-color: var(--white);
}
/* modal */

.my-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black-opacity);
}

.my-modal-content {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32%;
  display: flex;
  flex-direction: column;
}

.my-modal-content .btn-left-arrow {
  left: 0;
}

.my-modal-content .btn-right-arrow {
  right: 0;
}

.close-btn {
  align-self: flex-end;
  margin-right: 1rem;
  background-color: inherit;
  border: none;
}

/* purchase component */

.purchase-btn {
  background-color: var(--light-grayish-blue);
  padding: 1em;
  border: none;
}

.orange-btn img {
  fill: var(--white);
}

/* footer */

footer {
  margin-top: 1.2em;
  color: var(--dark-grayish-blue);
  background-color: var(--light-grayish-blue);
}

/* media queries */

@media (max-width: 768px) {
  .nav-link {
    color: var(--very-dark-blue) !important;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .nav-menu {
    margin-left: 2em;
    padding-top: 2.5em;
  }

  .orange-btn {
    width: 100%;
    padding: 1.2em 0;
  }

  .close-btn {
    display: block;
    margin-left: 2em;
    margin-top: 2em;
  }

  .product-details {
    margin: 0 2em;
  }

  .quantity {
    width: 100%;
  }

  .fill {
    flex-grow: 1;
  }

  .my-modal {
    display: none;
  }
}

@media (max-width: 576px) {
  img {
    border-radius: 0;
  }

  .nav-link {
    font-size: 1rem;
  }

  .product-img {
    width: 100%;
  }

  .product-page,
  .product-images-column,
  .product-details-column {
    margin: 0;
    padding: 0;
  }

  .arrow {
    width: 15px;
    height: 15px;
    top: 0;
  }

  .btn-left-arrow,
  .btn-right-arrow {
    width: 2.5em;
    height: 2.5em;
    padding: 0;
  }

  .btn-left-arrow {
    left: 2em;
  }

  .btn-right-arrow {
    right: 2em;
  }

  .quantity {
    margin-bottom: 1.5em;
  }
}
